@import url("normalize.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");

/* General Styles */

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	font-style: normal;
	font-weight: 600;
	color: #FFFFFF;
	color: #666;
	text-rendering: optimizeLegibility; 
  font-size: 10pt;
}

/* The main DIV for the map */
.subway-map
{
    margin: 0;
    width: 500px;
    height:410px;
    background-color: white;
}

.subway-map span
{
    margin: 5px 5px 5px 0;
}

a {
	color: #5D9CEC;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.tooltip {
	z-index: 9999;
	display: none;
	position: absolute;
	padding: 10px;
	color: #FFFFFF;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	background: #434A54;
	background: rgba(67,74,84,0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

/* Canvas */

#canvas {
	z-index: 1;
	margin: 0;
	background: #DDD;
}

#canvas.loading {
	background: #282A2B url('../images/loader.gif') no-repeat center center;
	background-size: 50px 50px;
}

#canvas span {
	margin: 5px 5px 5px 0;
}

/* Text Labels */
a.text {
	z-index: 99;
	text-decoration: none;
	color: #666;
  font-style: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
  vertical-align: top;
}

a.text:hover {
	color: #999;
}

/* Legend */

#legend {
	z-index: 99;
	position: fixed;
	right: 0;
	bottom: 60px;
	padding: 10px 15px;
	background: #FFFFFF;
	background: rgba(255,255,255,0.9);
}
	
#legend .legend-label {
	margin: 5px 0px;
	height: 20px;
	line-height: 20px;
}
	
#legend .legend-line {
	float: left;
	min-width: 100px;
	margin: 5px 5px 5px 0;
}

/* Footer */
	
footer {
	z-index: 9999;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	padding: 20px;
	color: #7d8692;
	background: #EEEEEE;
}

#logo {
	height: 20px;
	width: auto;
}

footer #legend-toggle {
	cursor: pointer;
}

footer p {
	margin: 0;
	line-height: 30px;
}

footer a {
	color: #434A54;
}

footer a:hover {
	color: #999;
}